@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap");
body {
  background-image: url("../images/mini.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: left !important;
  justify-content: left !important;
  width: 100%;
  height: 600px;
  border: 2px solid red;
  overflow:auto;
}

.link-links {
  border: 2px solid red;
  padding: 10px;
  height: 20px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: rgb(27, 27, 66);
}
h2 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #dc143c;
}
p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #333;
  font-size: 18px;
}
li {
  font-family: "Open Sans Condensed", sans-serif;
  color: rgb(7, 7, 78);
}
a {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: rgb(7, 7, 78);
  font-weight: 900;
}

img {
  width: 33%;
  margin: 2px;
}

div {
  width: 33%;
  border: 2px solid rgb(163, 163, 163);
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  margin: 10px auto;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 20px auto;
}
caption {
  font-size: 25px;
  font-weight: 600;
  color: rgb(37, 37, 240);
}

tr td {
  border-bottom: 1px solid rgba(203, 255, 83, 0.652);
  text-align: center;
  padding: 10px;
}

tr:hover {
  background-color: rgba(51, 51, 51, 0.501);
  color: black;
}
th {
  border-bottom: 2px solid rgba(41, 39, 39, 0.809);
  padding: 10px;
}

/* <!-- SELETORES --> */

.seletores {
  width: 100%;
}

.seletores :nth-child(2) {
  color: blue;
}

.seletores :first-child {
  color: yellow;
}
.seletores :last-child {
  color: green;
}

.seletores :not(:nth-child(4)) {
  font-weight: bold;
}

.seletores + p {
  color: red;
}
.seletores2 {
  width: 80%;
}
.seletores2 ~ p {
  color: red;
}
.seletores2 > p {
  color: violet;
}

.seletores3 {
  width: 80%;
}
.seletores3 > p:nth-child(even) {
  color: #dc143c;
}

.pseudo-elemento-after::after {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #fff;
  margin: 20px auto 10px;
  display: block;
}
.pseudo-elemento-before::before {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #dc143c;
  margin: 20px auto 10px;
  display: block;
}

.pseudo-elemento-selection::selection {
  background-color: #1f1f68;
  color: #fff;
}

/* centralizando texto na div */

.container {
  width: 1000px;
  padding: 20px 0px;
  border: 3px solid #000;
  overflow: hidden;
  display: flex;
}

.caixao {
  overflow: hidden;
  width: 300px;
  height: 300px;
  border: 3px solid #118;
}

.caixao_1 > .caixa {
  width: 50px;
  height: 50px;
  border: 1px solid #901010;
  overflow: hidden;
  display: inline;
}

.caixao_1 {
  width: auto;
}

.caixao_2 > .caixa {
  width: 50px;
  height: 50px;
  border: 1px solid #901010;
  overflow: hidden;
  display: block;
}

.caixao_2 {
  height: auto;
}

.caixao_3 > .caixa {
  width: 50px;
  height: 50px;
  border: 1px solid #901;
  overflow: hidden;
  display: inline-flex;
}

.caixa_1 {
  border: 2px solid red;
}
.caixa_2 {
  border: 2px solid red;
}
.caixa_3 {
  border: 2px solid red;
}
.caixa_4 {
  border: 2px solid red;
}
.caixa_5 {
  border: 2px solid red;
}

.container-float {
  width: 1000px;
  height: 300px;
  overflow: hidden;
}

.container-float > .caixa {
  overflow: hidden;
  width: 50px;
  height: 50px;
  float: left;
}

.container-float > h2 {
  width: 1000px;
  height: 300px;
  clear: left;
}
