@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
body {
  background: #f1f1f1;
}

header {
  height: 88vh;
  background-image: linear-gradient(#161c1fcc 100%, #161c1f00 100%),
    url("../images/home/wppPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  font-size: 8vmin;
  color: #3e13eb;
  font-weight: 700;
  text-shadow: 1.5px 1.5px 0px rgb(255, 0, 0, 0.5);
}

h1 {
  font-size: 8vmin;
  font-weight: 900;
  color: #e25555;
}
p {
  color: #333;
  font-size: 4vmin;
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgb(7, 7, 78);
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section > h1 {
  padding: 0px 0px 0px 100px;
  font-size: 10vmin;
  color: #3e13eb;
}
section > img {
  height: 60vmin;
  width: 50%;
}

article {
  width: 80%;
  display: flex;
}

article > .box-links {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0;
}
.box-link {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #e25555;

  position: relative;
  display: flex;
  transition: all 2s;
}

.box-link > a > p {
  font-weight: 900;
  color: #EF4E43;
  text-shadow: 2px 2px #151f28;
  z-index: 3;
}
.box-link > a > img {
  height: 90%;
  position: absolute;
}
.box-link > a > div {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.link-1 {
  height: 360px;
}
.link-1 > a > div {
  background-image: linear-gradient(#407bff70 100%, #161c1f00 100%);
}
.link-1:hover .img-link1 {
  transition: 0.5s;
  transform: scale(1.1);
}
.link-2 {
  height: 360px;
}

.link-2 > a {
  display: flex;
  flex-direction: column;
}

.link-2 > a > div {
  background-image: linear-gradient(#83f9958c 100%, #161c1f00 100%);
}
.link-2:hover .img-link2 {
  transition: 0.5s;
  transform: scale(1.1);
}
.link-3 {
  height: 180px;
}
.link-3 > a > div {
  background-image: linear-gradient(#ffe74e8c 100%, #161c1f00 100%);
}
.link-3:hover .img-link3 {
  transition: 0.5s;
  transform: scale(1.1);
}
.link-4 {
  height: 300px;
}
.link-4 > a > div {
  background-image: linear-gradient(#ed847e70 100%, #161c1f00 100%);
}
.link-4:hover .img-link4 {
  transition: 0.5s;
  transform: scale(1.1);
}
.link-5 {
  height: 300px;
}

.link-5 > a > div {
  background-image: linear-gradient(#c05ef970 100%, #161c1f00 100%);
}
.link-5:hover .img-link5 {
  transition: 0.5s;
  transform: scale(1.1);
}
.link-6 {
  height: 300px;
  flex-direction: column;
}
.link-6 > div {
  width: 100%;
  height: 100%;
}
.link-6 > .sub-link-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#25507870 100%, #161c1f00 100%),
    url("../images/home/Market\ launch-pana.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.link-6 > .sub-link-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#2c782570 100%, #161c1f00 100%),
    url("../images/home/Market\ launch-pana.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.link-6 > .sub-link-3 {
  background-image: linear-gradient(#78252570 100%, #161c1f00 100%),
    url("../images/home/Market\ launch-pana.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.sub-links > a > p {
  font-weight: 900;
  color: #EF4E43;
  text-shadow: 2px 2px #151f28;
  font-size: 3vmin;
  z-index: 3;
}
.sub-link-1:hover {
  transition: 1s;
  background-image: linear-gradient(#5f84a670 100%, #161c1f00 100%),
    url("../images/home/Market\ launch-pana.svg");
}
.sub-link-2:hover {
  transition: 1s;
  background-image: linear-gradient(#55a44e70 100%, #161c1f00 100%),
    url("../images/home/Market\ launch-pana.svg");
}
.sub-link-3:hover {
  transition: 1s;
  background-image: linear-gradient(#8a464670 100%, #161c1f00 100%),
    url("../images/home/Market\ launch-pana.svg");
}


/* FOOTER */

footer {
  margin-top: 10vh;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151f28;
}
footer > p {
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 920px) {
  section {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
  }
  section > img {
    width: 100%;
    border: 2px solid red;
  }
  section > h1 {
    width: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
  }

  article {
    width: 100%;
    display: block;
  }

  article > .box-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
}
