table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-family: "Open Sans Condensed", sans-serif;
    margin: 20px auto;
  }
  caption {
    font-size: 25px;
    font-weight: 600;
    color: rgb(37, 37, 240);
  }
  
  tr td {
    border-bottom: 1px solid rgba(203, 255, 83, 0.652);
    text-align: center;
    padding: 10px;
  }
  
  tr:hover {
    background-color: rgba(51, 51, 51, 0.501);
    color: black;
  }
  th {
    border-bottom: 2px solid rgba(41, 39, 39, 0.809);
    padding: 10px;
  }
  