@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-image: url("../../images/Parque-Ibira2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 300px;
  background-color: rgba(43, 126, 51, 0.686);
  padding: 30px;
  box-sizing: border-box;
  margin: 140px;
}

h1 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
}
p {
  color: #fff;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.link {
  display: flex;
}
a {
  color: rgb(28, 58, 149);
  text-decoration: none;
  font-weight: 900;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 10px;
  display: inline !important;
}

