@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Lato', sans-serif;
  color: #fff;
}
h2 { 
  margin-top:10px;
  text-align: center;
}
h3 {
  margin: 5px 0;
}
.header__principal {
  width: 100%;
  height:70px;
  padding: 0 10px;
  background-color: #d63639;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conteudo__principal {
  width:100%;
  height: 450px;
  padding: 5px 10px;
  background-color: #ECF0F1;
  display: flex;
}
.conteudo__principal section {
  width: 50%;   
  color: #666;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}
.conteudo__principal article{
  margin: 10px 0;
  padding: 10px;
}
.footer__principal {
  width: 100%;
  height: 70px;       
  background-color: #181327;
  display: flex;
  align-items: center;
  justify-content: center;
}